<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Labot personu</title>
</head>
<body>

<!-- tikai ar theymeleaf var izmantot zemāk esošo metodi PATCH. Standarta HTML atblasta tikai POST un GET.
 Mūsu gadījumā theymeleaf izveidos slēpto metodi _method kurā ieliks metodi PATCH un pēc tam ar filtra palīdzību to
  atradīs un realizēs-->
<form th:method="PATCH" th:action="@{/people/{id}(id=${labojamaisPerson.getId()})}" th:object="${labojamaisPerson}">
    <label for="name">Ievadiet vardu:</label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="surname">Ievadiet uzvardu:</label>
    <input type="text" th:field="*{surname}" id="surname"/>
    <br/>

    <label for="age">Ievadiet vecumu</label>
    <input type="text" th:field="*{age}" id="age"/>
    <br/>

    <label for="eMail">Ievadiet e-pastu:</label>
    <input type="text" th:field="*{eMail}" id="eMail"/>
    <br/>
    <input type="submit" value="Labot">
</form>
</body>
</html>