<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jauna persona</title>
</head>
<body>
<form th:method="POST" th:action="@{/people}" th:object="${vienaPersonaNew}">
    <label for="name">Ievadiet vardu:</label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="surname">Ievadiet uzvardu:</label>
    <input type="text" th:field="*{surname}" id="surname"/>

    <label for="age">Ievadiet vecumu:</label>
    <input type="text" th:field="*{age}" id="age"/>

    <label for="eMail">Ievadiet e-pastu:</label>
    <input type="text" th:field="*{eMail}" id="eMail"/>

    <br/>

    <input type="submit" value="Izveidot">
</form>
</body>
</html>