<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cilveks</title>
</head>
<body>

<p th:text="${vienaPerson.getName()}">VALUE</p>
<p th:text="${vienaPerson.getSurname()}">VALUE</p>
<p th:text="${vienaPerson.getId()}">VALUE</p>

<!-- links uz labosanu-->
<a th:href="@{/people/{id}/edit(id=${vienaPerson.getId()})}">Labot</a>

<!-- tagad būs poga dzēšanai un tam vajag formu!-->
<form th:method="DELETE" th:action="@{/people/{id}(id=${vienaPerson.getId()})}">
    <input type="submit" value="Izdzest"/>
</form>
</body>
</html>